:root {
    color-scheme: light dark;
    --flash-white: #f1f5f9;
    --jet: #333333;
    --lavanda: #e3d4f2;
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
    padding: 1rem;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.expanded {
    display: unset;
}

@media (prefers-color-scheme: light) {
    html {
        background: var(--flash-white);
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: var(--jet);
    }
}