---
const links = [
  { url: "/", name: "Home" },
  { url: "/about/", name: "About" },
  { url: "/blog/", name: "Blog" },
  { url: "/tags/", name: "Tags" },
];
---

<div class="nav-links">
  {links.map((link) => <a href={link.url}>{link.name}</a>)}
</div>

<style>
  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: none;
    margin: 0;
  }

  .nav-links a {
    color: initial;
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: underline;
  }

  /** Large screen **/
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      position: static;
      display: block;
      width: auto;
    }

    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  }
</style>
